<h1>Dashboard#dash</h1>
<p>Find me in app/views/dashboard/dash.html.erb</p>
<p>This is what the dashboard page will be for logged in users.</p>


<%= link_to "Log out", destroy_user_session_path, :method => :delete %>
