<h1>Welcome to IFBuddy</h1>
<br>
<p>A simple web app for helping you with your daily Intermittent Fasting goals.</p>
<%= link_to "Sign up", new_user_registration_path %>
<p>Already have an account? <%= link_to "Log in", new_user_session_path %></p>



