<h1>Dashboard#landing</h1>
<p>Find me in app/views/dashboard/landing.html.erb</p>
<p>This is what the landing page will be.</p>

<%= link_to "Log in", new_user_session_path %>
<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "Home", root_path %>

