<%-# Loop through the errors that prevented @fast from saving and show them in a list -%>

<% if @fast.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@fast.errors.count, "error") %>.
    </div>
    <ul>
    <% @fast.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>