.passwords {
    &.new, &.edit {
        h2 {
            font-family: $landing-font;
            color: black;
        }
        overflow-y: hidden;
        .nav-item {
            left: 0 !important;
        }
        .container-fluid {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .row {
                position: relative;
                bottom: 2.5%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                form {
                    label, h2 {
                        font-family: $landing-font;
                    }
                    .btn-edit {
                        margin-top: 10px;
                    }
                }
            }
        }
        .btn {
            margin: 5px;
        }
    }
}

@media (max-width: 375px) {
    .passwords {
        &.new {
            .btn {
                margin: 5px;
                font-size: 12.5px;
            }
        }
    }
}

@media (max-width: 350px) {
    .passwords {
        &.new {
            .btn {
                margin: 5px;
                font-size: 10px;
            }
        }
    }
}