<% if @user.signed_up_with_oauth %>

    <%= link_to('#', id: "notification-password", class: "dropdown-item") do %>

        <span class="">Settings  <span class="badge badge-danger">1</span></span>

    <% end %>

<% else %>

    <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item"  %>

<% end %>
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>


